@import '../abstract/variables';

.navbar {
    background-color: $color-dark;

    ul {
        list-style: none;
        display: flex;

        li {
            margin: 1rem;
            a {
                font-family: $font-primary;
                font-size: $font-size-primary;
                text-decoration: none;
                color: $white;
            }
        }
    }
}